.App {
  /* text-align: center; */
  height: 100vh;
  background-color: #dadbd3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__body{
  width: 90vw;
  height: 90vh;
  display: flex;
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}